<h1>Raffle</h1>

<!-- Add controller for javascript -->
<div ng-controller="RaffleCtrl">

 <!-- addEntry() function in raffle.js.coffee call on click via ng-submit attribute-->
	<form ng-submit="addEntry()">
		<!-- newEntry is the model, .name is the attribute -->
		<input type="text" ng-model="newEntry.name">
	</form>

	<ul>
		<!-- Loop through each entry with ng-repeat -->
		<li ng-repeat="entry in entries">
			{{entry.name}}
			<!-- only show if it is a winner using ng-show attribute eval to true -->
			<!-- ng-class with expression {} to add class highlight if entry == lastWinner truthy -->
			<span ng-show="entry.winner" ng-class="{highlight: entry == lastWinner}" class="winner">WINNER WINNER CHICKEN DINNER</span>
		</li>
	</ul>

<!-- # output newEntry.name with curly braces
	This adds an entry to end of list -->
	{{newEntry.name}}

	<button ng-click="drawWinner()">Draw Winner</button>
	<button ng-click="clearWinners()">Clear Raffle</button>
</div>


