<h1>Raffle</h1>

<!-- Add controller for javascript -->
<div ng-controller="RaffleCtrl">

	<form ng-submit="addEntry() ">
		<input type="text" ng-model="newEntry.name">
	</form>

	<ul>
	<!-- Loop through each entry with ng-repeat -->
		<li ng-repeat="entry in entries">
			{{entry.name}}
		</li>
	</ul>

<!-- # output newEntry.name with curly braces
This adds an entry to end of list -->
{{newEntry.name}}

</div>


